select.custom-select {
  margin: 0.5rem 0.5rem 0 0;
  width: auto;
}
.labelKey{
  text-align: right;
  font-family: ColfaxWeb,Helvetica,Arial,sans-serif;
  font-size: 12 px !important;
  letter-spacing: .6px;
  color:#5a6873;
}
.labelValues{
    color: black;
    font-size: 15px;
}
