<div class=container-fluid>
    <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

            <!-- things related to component -->
            <!-- image and name of customer and due amount start -->
            <div class="row mt-1">
                <div class="col-xl-12 col-lg-3 col-md-4 col-sm-12">
                    <div class="row mt-4">
                        <div class="col-lg-2 col-md-2 col-sm-12 text-right">
                            <img style="width: 110px;height: 110px; border-radius: 50%;"
                                src="https://www.gravatar.com/avatar/e102c74c9566066a4801f7e0d42eade6.jpg?s=200&d=mm">
                        </div>
                        <div class="col-lg-6 col-md-10 mt-4 col-sm-12">
                            <h4>{{aCustomer.details[0].name}}</h4>
                            <h6 class="mt-1 ml-1">12345</h6>
                        </div>
                        <div class="col-lg-4 col-md-10 mt-4 col-sm-12 ">
                            <h6>Due</h6>
                            <h4>{{aCustomer.totalAmount}}</h4>
                        </div>
                    </div>

                </div>
            </div>
            <!-- image and name of customer and due amount ends -->

            <!-- tabes start -->
            <div class="row m-0 pt-4">
                <div class="tabs" style="cursor: pointer;">
                    <ul role="tablist" class="nav nav-tabs" id="__BVID__25__BV_tab_controls_">
                        <li role="presentation" class="nav-item"><a role="tab" aria-selected="true" aria-setsize="3"
                                (click)="AccountTab=true;commentTab=false;historyTab=false " aria-posinset="1"
                                target="_self" class="nav-link active">Acconts</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" aria-selected="false" aria-setsize="3"
                                aria-posinset="2" target="_self" class="nav-link"
                                (click)="AccountTab=false;commentTab=true;historyTab=false" tabindex="-1">Comments</a>
                        </li>
                        <li role="presentation" class="nav-item"><a role="tab" aria-selected="false"
                                (click)="AccountTab=false;commentTab=false;historyTab=true" aria-setsize="3"
                                aria-posinset="2" target="_self" class="nav-link" tabindex="-1">History</a></li>
                    </ul>
                </div>
            </div>
            <!-- tabes ends -->
            <div *ngIf="AccountTab">
                <div class="row mt-2">
                    <!-- Profile card view -->
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-12 px-custom-card mb-3">
                        <div class="card">
                            <div class="card-header"><b>Profile</b>
                                <a href="#" class="float-right">Edit</a>
                            </div>
                            <div class="card-body">
                                <div class="labelKeys">Mobile Number:</div>
                                <div>{{aCustomer.mobileNumber}}</div>
                                <div class="labelKeys">Address:</div>
                                <div>{{aCustomer.details[1].plotNumber}}</div>
                                <div class="labelKeys">Due:</div>
                                <div class="label label-primary">Paid</div>
                                <div class="labelKeys">Created:</div>
                                <div>{{aCustomer.created_date | date}}</div>
                                <div class="row" *ngFor="let pro of onlyCustomerProducts">
                                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12">
                                        <div class="labelKeys">Newspapers</div>
                                        <div>{{pro.product}}</div>
                                    </div>
                                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12">
                                        <div class="labelKeys">Status</div>
                                        <div style="color: blue; text-decoration-line: underline;cursor: pointer;">
                                            Active</div>

                                        <!-- <div ngbDropdown class="d-inline-block"
                                        *ngIf="pro.productHoldStatus == 0;else showHoldDiv"
                                        (click)="pro.showDatePicker=true">
                                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                            Active</button>
                                         <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <div *ngIf="pro.showDatePicker">
                                                <ngb-datepicker displayMonths="1" [(ngModel)]="datePicker"
                                                (ngModelChange)="onClickOfProHoldCalender(pro)" navigation="none">
                                                </ngb-datepicker>
                                            </div>
                                        </div> 
                                    </div> -->
                                    </div>
                                    <ng-template #showHoldDiv>
                                        <div style="color: red; text-decoration-line: underline;">Hold</div>
                                    </ng-template>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile card view ends-->

                    <!-- Newspapers  details 1 row right card starts -->
                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 px-custom-card mb-3">
                        <div class="card">
                            <div class="card-header"><b>Newspapers</b>
                                <a href="#" class="float-right">Edit</a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3 col-sm-12">
                                        <div class="labelKeys">MONTH</div>
                                    </div>
                                    <div class="col-xl-4 col-sm-12">
                                        <div class="labelKeys">DETAILS</div>
                                    </div>
                                    <div class="col-xl-5 col-sm-12">
                                        <div class="labelKeys">CHARGES</div>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let itm of customerProductss; let itemIndex=index">
                                    <div class="col-xl-3 col-sm-12">
                                        <!-- <div class="labelKeys">MONTH</div> -->
                                        <div class="pt-2">{{itm.customerRelatedObj.month}}</div>
                                    </div>
                                    <div class="col-xl-4 col-sm-12">
                                        <!-- <div class="labelKeys">DETAILS</div> -->
                                        <div>{{itm.customerRelatedObj.productName}}</div>
                                        <div><a href="">more Detials</a></div>
                                    </div>
                                    <div class="col-xl-5 col-sm-12">
                                        <!-- <div class="labelKeys">CHARGES</div> -->
                                        <div>Monthly Charges <div class="float-right">
                                                {{itm.customerRelatedObj.productMonthlyPrice}}</div>
                                        </div>
                                        <div>Addational Charges <div class="float-right">
                                                {{itm.customerRelatedObj.productAddationalCharges}}</div>
                                        </div>

                                        <!-- <div *ngIf="itm.customerRelatedObj.productHoldIsActive == '1' ">
                                        <div>Hold Amount <div class="float-right">
                                            {{itm.productHold.holdProductAmount}}</div>
                                    </div>
                                    </div> -->
                                        <hr>
                                    </div>
                                </div>
                                <div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-8 text-right labelKeys">TOTAL</div>
                                        <div class="col-4 text-right">{{aCustomer.totalAmount}}</div>
                                    </div>
                                </div>
                                <!-- <div class="row" *ngFor="let itm of customerProducts; let itemIndex=index">
                                <div class="col-xl-4 col-lg-3 col-md-4 col-sm-12 px-custom-card mb-3 text-right">
                                    <div>Month:</div>
                                    <div>Charges From:</div>
                                    <div>Type</div>
                                    <div>Monthly Charges :</div>
                                    <div>Addtional Charges:</div>
                                </div>
                                <div class="col-xl-8 col-lg-3 col-md-4 col-sm-12 px-custom-card mb-3">
                                    <div>{{itm.customerRelatedObj.month}}</div>
                                    <div>
                                        {{itm.customerRelatedObj.productStartDate.dayOfMonth}}/{{itm.customerRelatedObj.productStartDate.month}}/{{itm.customerRelatedObj.productStartDate.year}}-{{itm.customerRelatedObj.productEndDate.dayOfMonth}}/{{itm.customerRelatedObj.productEndDate.month}}/{{itm.customerRelatedObj.productEndDate.year}}
                                    </div>
                                    <div>{{itm.customerRelatedObj.isRecursive}}</div>
                                    <div>{{itm.customerRelatedObj.productMonthlyPrice}}</div>
                                    <div>{{itm.customerRelatedObj.productAddationalCharges}}</div>
                                </div>
                            </div> -->
                                <!-- <table class="table" *ngFor="let itm of customerProducts; let itemIndex=index">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Month</th>
                                        <th scope="col">News paper</th>
                                        <th scope="col">Monthly Charges </th>
                                        <th scope="col">Addational Charges </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>March</td>
                                        <td>{{itm.customerRelatedObj.productName}}</td>
                                        <td>{{itm.customerRelatedObj.productMonthlyPrice}}</td>
                                        <td>{{itm.customerRelatedObj.productAddationalCharges}}</td>

                                    </tr>
                                </tbody>
                            </table> -->
                            </div>
                        </div>
                    </div>
                    <!-- Newspapers  details 1 row right card Ends -->
                </div>
                <!-- second row -->
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-12 px-custom-card mb-3">
                        <div class="card">
                            <div class="card-header"><b>Customer url</b></div>
                            <div class="card-body">
                                <div>https://nestpay.thug.com/showCustomer/9505498085/9959798265</div>
                                <a style="float: right;color: blue;"><u>Copy</u></a>
                            </div>
                        </div>
                    </div>
                    <!-- Recive payment secod row right card starts -->
                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 px-custom-card mb-3">
                        <div class="card">
                            <!-- before payment -->
                            <div *ngIf="aCustomer.isPaid != '1';else notPaidCustomer ">
                                <div class="card-header"><b>Payment</b></div>
                                <div class="card-body">
                                    <div style="font-size: large;font-family: auto;">No payment yet! Would you like to
                                        <a style="color: skyblue;" (click)="reviePaymentModalOpen(recivePayment)">recive
                                            payment</a>?</div>
                                </div>
                            </div>
                            <!-- after payment -->
                            <ng-template #notPaidCustomer>
                                <div class="card-header"><b>Recived Payment</b></div>
                                <div class="card-body">{{justPaidAccounts}}</div>
                            </ng-template>
                        </div>
                    </div>
                    <!-- Recive payment secod row right card starts -->
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-12 px-custom-card mb-3">

                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 px-custom-card mb-3">
                        <div class="card">
                            <div class="card-header"><b>Reviced payment</b></div>
                            <div class="card-body">
                                <h6>No. Of Customers Linked this line :10</h6>
                                <a style="float: right;color: blue;"><u>click me</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #recivePayment let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-basic-title">Recive Payment</h5>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="form-group row">
                            <label class="control-label col-4 labelKeyM">CUSTOMER</label>
                            <div class="col-8 form-control-static labelValues">
                                {{paymentRecivedCustomer.details[0].name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-4 labelKeyM">MOBILE</label>
                            <div class="col-8 form-control-static labelValues">{{paymentRecivedCustomer.mobileNumber}}
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label class="control-label col-4 labelKeyM">RECIVED ON</label>
                            <div class="col-8 form-control-static labelValues"> <input type="date"
                                    [(ngModel)]="todayDate" ngModel></div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-4  col-lg-4 labelKeyM">METHOD</label>
                            <div class="col-lg-4 col-sm-8 form-control-static labelValues">
                                <div class="form-group">
                                    <select class="form-control" id="sel1" [(ngModel)]="paymentMethodType">
                                        <option value="" selected disabled>Methods</option>
                                        <option [ngValue]="items.value" *ngFor="let items of RecivePaymentsMethods">
                                            {{items.key}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-4 labelKeyM">AMOUNT</label>
                            <div class="col-8  form-control-static labelValues">{{paymentRecivedCustomer.totalAmount}}
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"
                            (click)="recivePaymentPostCall()">Create</button>
                    </div>
                </ng-template>
            </div>
            <!-- comments -->
            <div *ngIf="commentTab">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 mb-3 mr-4">
                        <div class="card mt-4 mr-4">
                            <div class="card-header">Discuss with omprakash kaluva....</div>
                            <div class="card-body">
                                 <ul class="list-group list-group-flush" *ngFor="let item of allComments">
                                    <li class="list-group-item "
                                        *ngIf="item.msgfrom =='HackerPortal';else customerProtal ">
                                        <div class="comment_body_right">{{item.comment}}</div>
                                        <div class="commented_on_right">Commented on 02-April-2020</div>
                                    </li>
                                    <ng-template #customerProtal>
                                        <li class="list-group-item">
                                            <div class="comment_body_left">{{item.comment}}</div>
                                            <div class="commented_on_left">Commented on 02-April-2020</div>
                                        </li>
                                    </ng-template>
                                </ul> 
                                <form #singup="ngForm" class="mt-4">
                                    <div class="form-group">
                                        <textarea class="form-control" [(ngModel)]="comment" rows="2" id="comment"
                                            name="comments" placeholder="Leave ur comment" #comments="ngModel"
                                            [class.is-invalid]="comments.invalid && comments.touched" required ngModel>
                                    </textarea>
                                    </div>
                                    <button type="button" [disabled]="singup.form.invalid"
                                        class="btn btn-primary float-right" (click)="sendComment(comment)">Send</button>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div *ngIf="historyTab">
                <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 px-custom-card mb-3">
                    <div class="card">
                        <div class="card-header"><b>Paid History</b>
                        </div>
                        <div class="card-body">
                            <!-- <div class="row">
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Month-Year</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Payment Date</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Type</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Amount</div>
                                </div>
                            </div> -->
                            <div class="row" *ngFor="let item of statementHistroy">
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys mx-2">Month-Year</div>
                                    <div>{{item.savemonth}} {{item.year}}</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Payment Date</div>
                                    <div>{{item.paymentDate}}</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Type</div>
                                    <div>{{item.paymentType}}</div>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="labelKeys">Amount</div>
                                    <div>{{item.amount}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>