.short_cuts_color{
    background: rgba(86,61,124,0.15);
    border-radius: 15px;
    padding: 150px;
    width: 70px;
    text-align: center;
}

.short_cuts_color_onClick{
    background:black;
    border-radius: 15px;
    padding: 150px;
    width: 70px;
    text-align: center;
    color: white;
}
.more_details:hover{
    text-decoration: underline;
}