
<div class="container-fluid">
    <div class="wrapper">
        <div class="sidebar">
            <h3>Paperpay</h3>
            <ul>
                <li><a ><i class="fas fa-file-invoice"></i>Statements</a></li>
                <li><a ><i class="fas fa-users"></i>Profile</a></li>
                <li><a ><i class="far fa-newspaper"></i>Newspapers</a></li>
            </ul>
        </div>
         <div class="main_content">
            <div class="header">Welcome to Paper Pay</div>
            <div class="info">
                welcom to info
            </div>
        </div> 
    </div>
</div>