/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Josefin Sans', sans-serif */
}
 .wrapper{
    /* display: flex; */
    position: relative;
}
 .wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #4b4276;
    padding:0 0 30px 0;
}

.wrapper .sidebar h3{
    color:#fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.05);
}

.wrapper .sidebar ul li{
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0,0.05);
    border-top: 1px solid rgba(225, 225, 225,0.05);
}

.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}
.wrapper .sidebar ul  li a .fas {
    width: 30px;
}
.wrapper .sidebar ul  li a  .far{
    width: 30px;
}
.wrapper .sidebar ul li:hover{
    background:  #594f8d;
    border-radius: 60px;
    border-radius: 60px;
}
.wrapper .sidebar ul li:hover a{
    color:#fff;
    
}
.main_content{
    
    width: 100%;
    margin-left:250px;
    }
.wrapper .main_content .header{
    padding :20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.log_out_profile{
    text-align: center;
    margin: 15px;
}
.log_out_profile a{
    color: #bdb8d7;
    
}
.log_out_profile a .fas {
    width: 75px;
  
}
.log_out_profile a :hover{
    background:  #594f8d;
    
    border-radius: 50px;
    border-radius: 50px;
}
.log_out_profile a:hover a{
    color:#fff;
    
}
