
<div class="container-fluid">
    <div class="wrapper">
        <div class="sidebar">
            <h3>Paperpay</h3>
        <div class="log_out_profile">
            <a><i class="fas fa-power-off"></i></a>
            <a><i class="fas fa-cog"></i></a>
        </div>
            <ul>
                <li><a ><i class="fas fa-file-invoice"></i>Statements</a></li>
                <li><a ><i class="fas fa-users"></i>Customers</a></li>
                <li><a ><i class="far fa-newspaper"></i>Newspapers</a></li>
            </ul>
            <!-- <div class="settings">
                <a><i class="fas fa-cog"></i>Settings</a>
            </div> -->
        </div>
         <div class="main_content">
            <div class="header">Welcome to Paper Pay</div>
            <div class="info">
                Welcome to Paper Pay
            </div>
        </div> 
    </div>
</div>