<div class="container-fluid">
    <div class="wrapper">
        <div class="sidebar">
            <h3>Paperpay</h3>
            <div class="log_out_profile">
                <a><i class="fas fa-power-off"></i></a>
                <a><i class="fas fa-cog"></i></a>
            </div>
            <ul>
                <li><a href="/statement"><i class="fas fa-file-invoice"></i>Statements</a></li>
                <li><a href="/newcustomers"><i class="fas fa-users"></i>Customers</a></li>
                <li><a href="/newspapers"><i class="far fa-newspaper"></i>Newspapers</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header">Welcome to Paper Pay</div>
            <!-- <div class="info">
               <app-a-customer></app-a-customer>
            </div> -->
        </div>
    </div>
</div>